
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 29px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: calc(200px + (350 - 200) * ((100vw - 320px) / (1600 - 320)));
    min-width: 0;
}

.product__title {
    text-align: start;
    font-weight: bold;
}

.product__price {
    font-weight: bold;
}

.product__desc {
    margin: 0;
}

.inner__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 100%;
    max-height: 270px;
}

.product__img {
    border-radius: 5px;
}

.product__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    font-size: 10px;
    font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));
}


