html, body {
    height: 100%;
}

._wrapper {
    min-width: none;
    min-height: 100%;
}



.header {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.header.dark {
    background-color: #090909;
}

._wrapper.dark {
    background-color: #1A1A1A;
    color: #FFFFFF;
}

.searchbar__wrapper {
    background: #FFFFFF;
    border-radius: 100px;
    padding: 15px 10px 15px 30px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.searchbar__wrapper {
    background-color: #1A1A1A;
    color:  #FFFFFF;
    opacity: 70%;
}

.search__input {
    border: none;
    width: 70%;
}

.search__input {
    background-color: #1A1A1A;
    color: #FFFFFF;
    opacity: 70%;
}

.search__input:focus-visible {
    outline: none;
}

.search__icon {
    width: 20px;
}

.filter__btn {
    background: #F7F7F7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
}

.filter__btn {
    background: #3D3D3D;
}

.main {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.main.dark {
    background-color: #1A1A1A;
}

.sortbar {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    padding: 12px 15px 12px 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sortbar.dark {
    background: #1A1A1A;
    color: #FFFFFF;
}

.sort__btn {
    box-sizing: border-box;
    background: #1966FC;
    border: 1px solid #1966FC;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 7px 15px 6px 15px;
    font-size: calc(10px + (15 - 10) * ((100vw - 320px) / (1600 - 320)));
}

.sort__btn {
    color: #1A1A1A;
}

.sort__info {
    font-size: calc(10px + (15 - 10) * ((100vw - 320px) / (1600 - 320)));
}

.card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
}

.footer {
    position: fixed;
    bottom: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px;
    gap: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 13.3px rgba(0, 0, 0, 0.25);
    border-radius: 74px;
    height: 50px;
}

.footer {
    background: #1A1A1A;
}

.footer__item {
    width: 25px;
}

.OnPrice {
    text-align: center;
    font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1600 - 320)));
}

.sort__menu {
    position: absolute; /* Ensure menu appears over content */
    background-color: white; /* Give a background */
    border: 1px solid #ccc; /* Border for the menu */
    z-index: 100; /* Make sure it's on top */
    display: flex;
    flex-direction: column;
    right: 8%;
}

.sort__menu button {
    padding: 10px;
    border: none; /* Remove the border from button */
    background-color: transparent; /* Button should not have background */
    cursor: pointer;
}

.sort__menu button:hover {
    background-color: #f0f0f0; /* Change background on hover for better UX */
}

@media screen and (min-width: 768px){
    .card__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 90vw;
        gap: 45px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: auto;
    }

}
