.ProfileViewHeader {
    background-color: #F9F9F9;
    padding: 29px;
    display: flex;
    justify-content: space-between;
}

.ProfileView__title {
    font-weight: bold;
}

.attachment {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



.profile {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 50px 20px;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.user__description {
    padding: 0 15px 0 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 12px;
    font-weight: bold;
}

.username {
    text-decoration: none;
    color: #1966FC;
    font-weight: bold;
}

.ProfileViewMain {
    padding: 20px;
}

.my__adverts-span {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.my__adverts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.adverts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .adverts__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.ProfileViewWrapper.dark {
    background-color: #1A1A1A; 
    color: white;
}


.ProfileViewHeader.dark {
    background-color: #1A1A1A;
}


.ProfileView__title.dark {
    color: #ffffff;
}


.my__adverts-span.dark {
    color: #ffffff;
}

.profile.dark {
    background-color: #1A1A1A;
}

.profile__info.dark {
    color: #e0e0e0;
}


.my__adverts.dark {
    background-color: #1A1A1A;
}

.ProfileView__title {
    margin: auto;
}