:root {
  --background-color: white;
  --text-color: black;
  --link-color: blue;
}

html, body {
  margin: 0;
}

body {
  background-color: #fff;
}

* {
  font-family: 'Inter';
}

body.dark {
  background-color: #1A1A1A;
  color: white;
}

.page__title {
  color: #000000;
  margin: auto;
}

.page__title.dark {
  color: #FFFFFF;
  margin: auto;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}